asgiref==3.9.1
certifi==2025.8.3
distlib==0.4.0
Django==5.2.4
django-cors-headers==4.7.0
django-taggit==6.1.0
djangorestframework==3.16.1
filelock==3.19.1
mysqlclient==2.2.7
packaging==25.0
pipenv==2025.0.4
platformdirs==4.3.8
setuptools==80.9.0
sqlparse==0.5.3
tzdata==2025.2
virtualenv==20.34.0
